#layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  width: 100%;
  border: none;
}

.states {
  border-radius: 3em;
  border: none;
  background-color: #151932;
  min-width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 80px;
  align-items: center;
  margin: 1em auto;
}

.states * {
  text-align: center;
  grid-row: 1/2;
}

.states button {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  cursor: none;
  pointer-events: none;
}

.statesBg {
  background-color: #f97072;
  border-radius: 2.5em;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 80%;
  width: 90%;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}

.btn1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.btn2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.btn3 {
  grid-column: 3/4;
}

.canvasWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #0b0d1c, #282c51);
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  margin-top: 1.5rem;
  box-shadow: -20px -20px 90px #343a68, 20px 20px 90px #03051a;
}

.canvasWrapper::after {
  content: "";
  height: 90%;
  width: 90%;
  background-color: #151932;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

.timerWrapper {
  color: #fff;
  text-align: center;
  z-index: 3;
}

#canvas {
  height: 90%;
  width: 90%;
  border: 15px solid #f97072;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.currentState {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 5px;
  margin-top: -2rem;
}

#timer {
  font-size: 7rem;
  line-height: 0.3;
}

.progressBar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  transform: translate(10%, 10%);
}

.control-btn {
  width: 20px;
  cursor: pointer;
}
