.content-wrapper {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 1rem;
  max-height: 800px;
  min-height: fit-content;
  min-width: max-content;
  max-width: 1300px;
  margin: 3rem auto 0 auto;
  background-color: #fff;
}

.sub-title {
  font-size: 1.5rem;
  background-color: grey;
  padding: 0.3rem;
}
.markdown,
.preview {
  padding: 1.5rem 0 0 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.markdown-textarea,
.preview-textarea {
  width: 100%;
  height: inherit;
  overflow-y: auto;
  flex: 1;
  border: none;
  background-color: aliceblue;
  padding: 10px;
}

textarea:focus {
  outline: 1px solid greenyellow;
}

h1 {
  font-weight: unset;
  font-size: 2.3rem;
}
h2 {
  font-weight: unset;
}

@media screen and (max-width: 1000px) {
  .content-wrapper {
    display: block;
    flex-direction: column;
    min-width: inherit;
  }
  .markdown,
  .preview {
    width: 100%;
  }
}
